<footer class="py-3">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6">
        <div class="footer-info d-flex justify-content-start align-items-start flex-column px-3">
          <img src="./assets/images/logo.avif" class="w-50 mx-auto rounded-circle" alt="books">
          <p class="text-muted">In our book fair we have a lot of books and we try to provide more to help you, and we strive to help you get the books you want.<br>
            We have a special section for great authors and you can get their books for free, we also provide you with collections of books on different topics and make it easy for you to access them.<br>
            We have a special section for all books in our gallery and you can search for what you want through this section.<br>
            You can search for books by the name of the book and also search for the author to get his works and also search for a specific group of books.</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="footer-linked p-5 text-center">
          <h2 class="mb-4 fs-1">Pages</h2>
          <div class="d-flex justify-content-center align-items-center flex-column gap-2">
            <h6 routerLink="/home" class="d-flex justify-content-start align-items-center gap-2 cr"><i class="fa-solid fa-arrow-right"></i> Home</h6>
            <h6 routerLink="/books" class="d-flex justify-content-start align-items-center gap-2 cr"><i class="fa-solid fa-arrow-right"></i> All Books</h6>
            <h6 routerLink="/authors" class="d-flex justify-content-start align-items-center gap-2 cr"><i class="fa-solid fa-arrow-right"></i> Authors</h6>
            <h6 routerLink="/allcollections" class="d-flex justify-content-start align-items-center gap-2 cr"><i class="fa-solid fa-arrow-right"></i> Collections</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>
