@if(pageList().length >= 1){
  <div class="search my-3">
    <div class="container">
      <div class="input-group mb-3 w-75 mx-auto animate__animated animate__fadeInDown">
        <input [(ngModel)]="searchValue" type="text" class="search-input border-0 shadow-none form-control px-2" placeholder="Search By Author...">
        <button class="btn btn-primary px-3" type="button" (click)="searchBook()"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row">
        @if(searchData().length >= 1){
          <div class="col-12">
            <div class="animate__animated animate__fadeInDown">
              <owl-carousel-o [options]="customOptions">

                @for (book of searchData(); track $index) {
                  <ng-template carouselSlide>
                    <img [src]="book.formats['image/jpeg']" [routerLink]="['/details', book.id]" class="search-img w-100 animate__animated animate__zoomIn p-3 rounded-end-2 cr" height="300px" [alt]="book.title">
                  </ng-template>
                }

              </owl-carousel-o>
            </div>
          </div>
        }
      </div>
    </div>
  </section>


  <section class="py-3 animate__animated animate__fadeInLeft">
    <div class="container">
      <div class="row g-4">
        @for (book of pageList(); track $index) {
          @if(book.authors.length >= 1){
            <div class="col-md-4 col-lg-3 col-sm-6">
              <div class="author-books shadow h-100 p-3 rounded-2">
                <div class="d-flex flex-column justify-content-between h-100 text-center">
                  <div>
                    @for(author of book.authors; track $index){
                      <h4 class="m-0">{{author.name}}</h4>
                      <h5 class="m-0">{{author.birth_year}} / {{author.death_year}}</h5>
                    }
                  </div>
                  <button [routerLink]="['/authorbooks', book.authors[0].name]" class="btn mainBtn"><i class="fa-solid fa-eye"></i> Review</button>
                </div>
              </div>
            </div>
          }
        }

        <div class="col-12">
          <div class="d-flex justify-content-center align-items-center my-4">
            <mat-paginator #paginator
              class="demo-paginator"
              (page)="handlePageEvent($event)"
              [length]="this.totalPage()"
              [pageSize]="pageSize"
              [disabled]="disabled"
              [showFirstLastButtons]="showFirstLastButtons"
              [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
              [hidePageSize]="hidePageSize"
              [pageIndex]="pageIndex"
              aria-label="Select page">
            </mat-paginator>
          </div>
        </div>
      </div>


    </div>
  </section>
}
