<section class="my-3 rounded-3">
  <div class="container">
    <div class="row shadow-lg rounded-3 p-5 my-4">
      @for (book of getDetails(); track $index) {
        <div class="col-md-6">
          <div class="animate__animated animate__bounceInLeft text-center my-sm-0 my-4">
            <img [src]="book.formats['image/jpeg']" class="w-75 mx-auto" [alt]="book.title">
          </div>
        </div>

        <div class="col-md-6">
          <div class="animate__animated animate__fadeInRight">
            <div class="text-center">
              <h1>{{book.title}}</h1>
              <h5>{{book.authors[0].name}}</h5>
            </div>

            <h4>Languages : {{book.languages[0].toUpperCase()}}</h4>
            <h4>Subjects :</h4>
            @for (subject of subjects(); track $index) {
              <p class="ms-3">{{subjects()[$index]}}</p>
            }
            @if(bookShelves().length > 0){
              <h4>Book Shelves :</h4>
              @for (bookShelve of bookShelves(); track $index) {
                <p class="ms-3">{{bookShelves()[$index]}}</p>
              }
            }
            <h4 class="mb-2">Read Online: </h4>
            <a class="book-link ms-3" [href]="book.formats['text/html']" target="_blank">{{book.formats['application/rdf+xml']}}</a>
          </div>
        </div>
      }
    </div>

  </div>
</section>
